h1 {
    font-size: 40px;
    line-height: 120%;
    font-weight: bold;
}

h2 {
    font-size: 32px;
    line-height: 120%;
    font-weight: bold;
}

h3 {
    font-size: 28px;
    line-height: 120%;
    font-weight: bold;
}

p {}

.article-main {
    max-width: 1300px;
    margin: 0 auto;
    padding: 40px 10%;
}

.article-breadcrumbs {
    display: flex;
}

.article-breadcrumbs>li+li::before {
    color: #ccc;
    content: "/";
    padding: 0 5px;
}

.article-breadcrumbs li a {
    color: #737373;
}

.article-breadcrumbs .active {
    color: #4e4e4e;
}

.article-title {
    font-size: 40px;
    font-weight: 700;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #424242;

}

.article-info {
    display: flex;

}

.article-info li {
    display: flex;
    align-items: center;
    color: #737373;
    font-size: 16px;
    margin-left: 10px;
}

.article-info li img {
    width: 16px;
    margin-right: 5px;
}

.article-info .add-bookmark {
    display: none;
}

.add-bookmark a {
    color: #737373;
}

.article-info .remove-bookmark {
    display: none;
}

.remove-bookmark {
    color: #D7443E;
}

.article-info .add-bookmark.toshow,
.article-info .remove-bookmark.toshow {
    display: flex
}

.article-content {
    padding: 40px 20px;
    color: #424242;
    line-height: 120%;
}

.article-img {
    text-align: center;
    margin-bottom: 40px;
}

.article-img img {
    max-width: 60%;
}

.article-content p {
    font-size: 1.25rem;
    color: #424242;
    line-height: 140%;
}

.article-tags {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
}

.article-tags a {
    display: flex;
    align-items: center;
    font-size: 16px;
    height: 20px;
    color: #737373;
    margin-right: 10px;
}

.article-tags img {
    margin-right: 3px;
}

@media (max-width:992px) {
    .article-main {
        padding-top: 80px;
    }

    .article-img img {
        min-width: 70%;
    }
}

@media (max-width:768px) {
    .article-title {
        font-size: 32px;
    }

    .article-content {
        font-size: 16px;
    }
}

@media (max-width:576px) {
    .article-title {
        font-size: 24px;
    }

    .article-content {
        font-size: 16px;
    }

    .article-content p {
        font-size: 1rem;
    }

    .article-main {
        padding-left: 5%;
        padding-right: 5%;
    }

    .article-info li,
    .article-breadcrumbs {
        font-size: 12px;
    }

    .article-info li {
        margin-left: 5px;

    }

    .article-info li img {
        width: 12px;
        margin-left: 3px;
    }
}