.category-articles {
    padding-top: 40px;
    padding-bottom: 40px;
    max-width: 1000px;
    margin: 0 auto;
}


.category-title {
    font-size: 32px;
    font-weight: 700;
    line-height: 120%;
    text-align: center;
    color: #4e4e4e;
    margin-bottom: 40px;
}

.category-title img {
    width: 40px;
    height: 36px;
    margin-right: 8px;
}

.category-articles-list li {
    margin-bottom: 20px;
}

.category-articles-list a {
    display: flex;
}

.category-articles-list a:hover {
    background-color: hsla(0, 0%, 80%, 0.25);
}

.article-img {
    width: 400px;
    height: 200px;
}

.category-articles-list a img {
    object-fit: cover;
    width: 100%;
}

.article-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 24px;
    width: 580px;
    color: #4e4e4e;
}

.article-info h3 {
    font-size: 28px;
    font-weight: 700;
    line-height: 120%;
    margin-bottom: 24px;
}

.article-content {
    font-size: 16px;
    line-height: 150%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 10px;
    margin-right: 20px;
}

.article-tab {
    font-size: 14px;
    color: #737373;
}

.article-tab:hover {
    text-decoration: underline;
}

.cantFind h3 {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
    color: #737373;

}

.cantFind img {
    max-width: 60%;
    display: block;
    margin: 0 auto;

}

@media (max-width:992px) {
    .category-title {
        padding-top: 40px;
    }

    .category-articles-list {
        padding-left: 20px;
        padding-right: 20px;
    }

    .article-info h3 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    .article-info p {
        margin-right: 0;
    }
}

@media (max-width:768px) {
    .article-info h3 {
        font-size: 20px;
    }

    .article-content {
        font-size: 14px;
    }
}

@media (max-width:576px) {
    .category-articles {
        width: 95%;
    }

    .category-articles-list a {
        display: block;
    }

    .article-info {
        padding-left: 0;
        margin: 0 auto;
        width: 80%;
    }

    .article-img {
        text-align: center;
        margin: 0 auto;
    }

    .article-title {
        text-align: center;
        margin-top: 5px;
    }

    .article-img {
        width: 80%;
    }

    .article-content {
        margin: 0 auto;
    }

    .article-info h3 {
        font-size: 16px;
    }

    .article-tab {
        margin: 5px 0 10px 0;
        font-size: 12px;
    }

    .category-articles-list {
        padding-left: 0;
        padding-right: 0;
    }

    .article-content {
        font-size: 12px;
    }
}