main {
    background-color: #f3f3f3;
    margin: 0;
    padding: 40px 0px;
    color: #4e4e4e;
}


.user-container {
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
}



.user-sidebar {
    min-width: 180px;
    display: flex;
    flex-direction: column;
}

.user-sidebar h3 {
    display: flex;
    align-items: center;
    font-size: 24px;
}

.user-sidebar h3 img {
    width: 50px;
    margin-right: 10px;
}

.sidebar-email {
    margin-top: 10px;
    font-size: 12px;
    text-align: center;
    color: #737373;
}

.user-list,
.manage-list {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}



.user-sidebar ul li {
    margin-bottom: 10px;
    height: 30px;
}

.user-sidebar ul li a {
    color: #4e4e4e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-sidebar ul li a:hover {
    color: hsl(0, 0%, 15%);
}

.user-sidebar ul img {
    width: 20px;
    margin-right: 5px;
}

.user-sidebar-logout {
    margin-top: auto;
    text-align: center;
    margin-bottom: 10px;
}

.user-sidebar-logout a {
    margin-top: auto;
    font-size: 14px;
    color: #737373;
}

.manage-list {
    display: none;
}



.manage-list>span {
    text-align: center;
    margin-bottom: 20px;
    font-size: 14px;
    color: #737373;
}

.manage-list.toshow {
    display: flex;
}

.manage-list li {
    display: none;
}

.manage-list li.toshow {
    display: block;
}




.user-main {
    margin-left: 60px;
    background-color: #fff;
    padding: 20px 30px;
    flex-grow: 1;
    max-width: 100%;
}

.user-main h2 {
    font-size: 32px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.user-main h2 img {
    width: 32px;
    height: 32px;
    margin-right: 5px;
}

.user-main p {
    color: #737373;
}

.user-form {
    margin-top: 40px;
    border-top: 1px solid hsl(0, 0%, 80%);
    padding-top: 20px;
    font-size: 20px;
}

.user-input-container {
    margin-bottom: 40px;
    display: flex;
    align-items: center;
}

.user-input-label {
    width: 80px;
    text-align: right;
}

.user-input-container input {
    border: none;
    background-color: #fff;
    margin-right: 20px;
}

.user-input-container a {
    font-size: 14px;
    color: #4285f4;
}

.user-input-container .input-active {
    border: #737373 1px solid;
}

.user-input-container p {
    font-size: 14px;
    color: #c72424;
}

.user-profile-btn input {
    font-size: 18px;
    padding: 5px 10px;
}

.user-profile-btn input:hover {
    cursor: pointer;
}

.user-profile-btn .confirm-btn {
    background-color: #737373;
    color: #fff;
    margin-left: 80px;
}

.user-profile-btn .cancel-btn {
    background-color: #fff;
    color: #737373;
}

/* 表格(收藏文章、我的文章、所有文章、會員管理) */
.user-table {
    margin-top: 20px;
    color: #4e4e4e;
    text-align: center;
    width: 100%;
    display: table;
    overflow-x: auto;
    white-space: nowrap;
    table-layout: fixed;
}

.user-table thead {
    font-size: 24px;
}


.user-table thead th {
    padding-top: 10px;
    padding-bottom: 10px;
    font-weight: 700;
    background-color: #ccc;
    text-align: center;
}

.user-table thead tr:first-child {
    text-align: left;
}

.user-table thead tr th:first-child {
    text-align: center;
    width: 60%;
}

.user-table tbody {
    font-size: 20px;
}

.user-table tbody tr {
    border-bottom: 1px solid #737373;
}

.user-table tbody td {
    padding-top: 10px;
    padding-bottom: 5px;
    padding-right: 10px;
    text-align: center;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-time {
    font-size: 16px;
}

.user-table tbody a {
    color: #4e4e4e;
}

.user-table a:hover {
    text-decoration: underline;
}

.table-title {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
}

.table-title a {
    display: flex;
    align-items: center;
}

.table-title a span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.table-title img {
    width: 30px;
    height: 30px;
    margin-right: 15px;
}

.user-table .table-del,
.user-table .table-edit {
    color: brown;
}

.user-table tfoot th {
    padding-top: 40px;
    padding-bottom: 20px;
}

.table-delAll-container {
    text-align: right;
    margin-right: 20px;
}



.table-delAll {
    color: #737373;
}

.create-btn-container {
    text-align: right;
}

.create-btn {
    min-width: 100px;
    min-height: 48px;
    background-color: #4e4e4e;
    color: #fff;
    font-size: 20px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.user-table.user-manage thead tr th:first-child {
    width: 25%;
}

.pagination-container {
    text-align: center;
}

.pagination {
    display: inline-block;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #737373;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}


@media (max-width:1300px) {
    .user-container {
        margin-left: 30px;
    }

    .user-table thead tr th:first-child {
        width: 55%;
    }

    .table-title a {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

@media (max-width:992px) {

    .user-container {
        padding-top: 40px;
    }

    .user-main {
        margin-left: 30px;
    }

    .user-sidebar {
        margin-top: 20px;
    }

    .table-title {
        width: 100px;
    }

    .table-title a {

        font-size: 16px;
    }

    .table-time {
        font-size: 14px;
    }

    .table-edit {
        display: flex;
    }

    .user-table tbody td {
        padding-top: 5px;
        text-align: center;
        font-size: 16px;
    }

    .user-table thead th {
        font-size: 20px;
        text-align: center;
    }

    .table-edit {
        margin-right: 5px;
        justify-content: center;
    }

    .table-del,
    .table-edit {
        font-size: 14px;

    }

    .user-table tfoot th {
        padding-top: 20px;
    }
}


@media (max-width:768px) {
    .user-main {
        margin-left: 10px;
        padding: 20px 10px;
    }

    .user-sidebar h3 img {
        width: 30px;
    }

    .user-sidebar h3 {
        font-size: 20px;
    }

    .sidebar-email {
        font-size: 10px;
    }

    .user-table thead th {
        font-size: 16px;
    }

    .create-btn {
        font-size: 16px;
        min-height: 24px;
    }


}